body {
    background-image: url('/background-bw.png');
    background-size: cover;
    background-position: center 5px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Main page layout container */
.pageColumnsContainer {
    /* margin-top: 62px; */
    display: flex;
    height: calc(100vh - 62px);
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
}

/* Sidebar styling */
.sidebar {
    flex: 0 0 25%;
    background-color: rgba(218, 214, 214, 0.628); /* semi-transparent black */
    border-radius: 16px;
    padding: 1rem;
    color: black;
    overflow-y: auto;
    box-sizing: border-box;
    border: 2px solid #3c3c3c;
}

/* Main content styling */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgba(56, 56, 56, 0.649);;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #3c3c3c;
}

/* Map container inside main content */
.map-container {
    flex: 1;
    border-radius: 12px;
    min-height: 0;
    overflow: hidden;
}

.profile-main-container {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tab-bar {
    display: flex;
    margin: 13px;
}

.tab-button {
    flex: 1;
    padding: 0.75rem;
    font-size: 1.5rem;
    background-color: #ff51b0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Permanent Marker', cursive;
    margin: 3px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    border: 2px solid #d84295;
}

.tab-button:hover {
    background-color:  #ff2ea1;
    transform: translateY(-1px);
}

.tab-button:active {
    transform: translateY(0);
    color: rgb(141, 138, 138);
}



.tab-content-container {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #ffffff00;
    height: calc(100% - 6px);
    color: rgb(60, 60, 60);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-family: 'Permanent Marker', cursive;
    margin: 3px;
    text-align: center;
}

.tab-content-container ul {
    padding-right: 0;
}
